* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 40px
}

:root {
  // FONTS
  --font-Montserrat: "Montserrat";
  --font-KaushanScript: "Kaushan Script";
  --font-Roboto: "Roboto";
  // COLORS
  --color-border: #FCE38A;
  --color-white: #fff;
  --color-divider: #F38181;
  --color-description: #999999;
  --color-black: #333;
}