@import "_global";

.header {
  background-color: var(--color-background);
  background-image: linear-gradient(360deg,
      var(--color-gradient-start) 0%,
      var(--color-gradient-end) 100%),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: grid;
  align-items: start;
  padding: 10px 20px;
  width: 100%;
  font-family: var(--font-Montserrat);
  gap: 30px;
  justify-content: center;
  color: var(--color-white);
  grid-template-rows: 160px 100px 100px auto;

  &__logo {
    font-size: 30px;
    font-weight: bold;
    justify-self: start;
    color: var(--color-white);
    display: grid;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: var(--color-border);
    }
  }

  &__nav {
    display: grid;
    gap: 50px;
    justify-content: end;
    grid-template-columns: 1fr 1fr auto;
  }

  &__icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    justify-content: end;
    align-items: center;
    list-style: none;
  }

  &__additional-element {
    font-size: 72px;
    color: var(--color-white);
    font-weight: 400;
    font-family: var(--font-KaushanScript);
    text-align: center;
  }

  &__title {
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    font-family: var(--font-Montserrat);
    text-align: center;
  }

  &__button {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    font-family: var(--font-Montserrat);
    text-align: center;
    border: 3px solid var(--color-white);
    width: 172px;
    background-color: transparent;
    padding: 16px 34px;
    margin: auto;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      border: 3px solid var(--color-border);
      color: var(--color-border);
    }
  }
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px;
  align-items: center;
  justify-items: center;
  list-style: none;
  margin: 0 20px;
  padding: 0;
  padding-bottom: 10px;
}

.nav__item {
  border-bottom: 2px solid transparent;
  padding-top: 11px;

  a {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-white);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    padding-bottom: 11px;

    &:hover {
      border-bottom: 2px solid var(--color-border);
      color: var(--color-border);
    }
  }
}

.header__icon {
  text-decoration: none;
  display: grid;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-white);
  align-items: center;

  &:hover i::before {
    color: var(--color-border);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0;
    padding-top: 20px;
    align-items: flex-start;

    &__nav {
      gap: 20px;
      justify-content: space-between;
      grid-template-rows: 1fr;
      align-items: center;
      align-content: center;
      grid-template-columns: repeat(3, auro);
    }

    .nav__list {
      gap: 10px;
      margin: auto;
      grid-template-rows: 1fr;
      grid-auto-flow: row;
      max-width: 100%;
      align-items: center;
      padding: 11px 0;
    }

    .nav__item {
      a {
        padding: 0;
      }
    }

    .header__icons {
      gap: 10px;
      justify-content: center;
    }

    .header__logo {
      grid-row: 1;
    }

    &__title {
      font-size: 120px;
      line-height: 100px;
    }

    &__button {
      margin-top: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    padding-top: 20px;
    align-items: flex-start;
    height: 100vh;
    grid-template-rows: auto 50px auto auto;

    .header__logo {
      justify-self: center;
    }

    .header__nav {
      gap: 20px;
      justify-content: initial;
      align-items: initial;
      grid-template-rows: repeat(3, auto) !important;
      grid-template-columns: 1fr !important;
      overflow: hidden;
    }

    .nav__list {
      gap: 10px;
      margin: auto;
      align-items: center;
      justify-content: center;
    }

    .header__icons {
      gap: 25px;
      justify-content: center;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
    }

    .header__logo {
      grid-row: 1;
    }

    &__additional-element {
      font-size: 32px;
    }

    &__title {
      font-size: 47px;
      line-height: 55px;
    }

    &__button {
      margin-top: auto;
    }
  }
}