* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

body main {
  display: -ms-grid;
  display: grid;
  gap: 90px;
}

:root {
  --font-Montserrat: "Montserrat";
  --font-KaushanScript: "Kaushan Script";
  --font-Roboto: "Roboto";
  --color-border: #fce38a;
  --color-white: #fff;
  --color-divider: #f38181;
  --color-description: #999999;
  --color-font: #333;
  --color_image: #95e1d3;
  --color-background: #fce38a;
  --color-gradient-start: rgba(252, 227, 138, 0.7);
  --color-gradient-end: rgba(243, 129, 129, 1);
  --color-icon: #f38181;
}

.services {
  display: -ms-grid;
  display: grid;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.services__headline {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  text-align: center;
  gap: 15px;
  color: var(--color-font);
  padding: 0 10px;
}

.services__headline-text {
  font-family: var(--font-KaushanScript);
  font-size: 24px;
}

.services__headline-title {
  position: relative;
  font-family: var(--font-Montserrat);
  font-size: 30px;
  -webkit-padding-after: 35px;
          padding-block-end: 35px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}

.services__headline-title::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  background-color: var(--color-divider);
}

.services__items-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 100px 50px;
  list-style: none;
}

.services__item-figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 11px 20px;
  padding: 0 10px;
}

.services__item-figure img {
  width: 32px;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.services__item-figure .services__item-title {
  color: var(--color-font);
  font-family: var(--font-Montserrat);
  line-height: 16px;
  font-size: 14px;
}

.services__item-figure .services__item-description {
  font-family: var(--font-Roboto);
  color: var(--color-description);
  font-size: 15px;
  line-height: 18px;
}

@media screen and (max-width: 1024px) {
  .services__items-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-auto-columns: auto;
  }
}

@media screen and (max-width: 768px) {
  .services__items-container {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    grid-auto-columns: auto;
  }
  .services__item-figure {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 11px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__item-figure img {
    width: 32px;
    height: auto;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .services__item-figure .services__item-title {
    text-align: center;
  }
  .services__item-figure .services__item-description {
    text-align: center;
  }
}
/*# sourceMappingURL=services.css.map */