* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

:root {
  --font-Montserrat: "Montserrat";
  --font-KaushanScript: "Kaushan Script";
  --font-Roboto: "Roboto";
  --color-border: #FCE38A;
  --color-white: #fff;
  --color-divider: #F38181;
  --color-description: #999999;
  --color-black: #333;
}

.header {
  background-color: #fce38a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.7)), to(#f38181)), url("../images/header.svg");
  background-image: linear-gradient(360deg, rgba(252, 227, 138, 0.7) 0%, #f38181 100%), url("../images/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 10px 20px;
  width: 100%;
  font-family: var(--font-Montserrat);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  color: var(--color-white);
}

.header__container {
  display: -ms-grid;
  display: grid;
}

.header__container:nth-child(2) {
  gap: 30px;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
  -ms-grid-column-align: start;
      justify-self: start;
  color: var(--color-white);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__logo:hover {
  color: var(--color-border);
}

.header__nav {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-columns: 1fr 1fr auto;
      grid-template-columns: 1fr 1fr auto;
}

.header__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__additional-element {
  font-size: 72px;
  color: var(--color-white);
  font-weight: 400;
  font-family: "KaushanScript";
  text-align: center;
}

.header__title {
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  font-family: var(--font-Montserrat);
  text-align: center;
}

.header__button {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  font-family: var(--font-Montserrat);
  text-align: center;
  border: 3px solid var(--color-white);
  width: 172px;
  background-color: transparent;
  padding: 16px 34px;
  margin: auto;
}

.header__button:hover {
  border: 3px solid var(--color-border);
  color: var(--color-border);
}

.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  list-style: none;
  margin: 0 20px;
  padding: 0;
  padding-bottom: 10px;
}

.nav__item {
  border-bottom: 2px solid transparent;
}

.nav__item a {
  text-decoration: none;
  font-size: 14px;
  color: var(--color-white);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid transparent;
  padding: 11px 0;
}

.nav__item a:hover {
  border-bottom: 2px solid var(--color-border);
  color: var(--color-border);
}

.header__icon {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon:hover i::before {
  color: var(--color-border);
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0;
    padding-top: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__container {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    max-width: 800px;
  }
  .header__container .header__nav {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: (auro)[3];
        grid-template-columns: repeat(3, auro);
  }
  .header__container .nav__list {
    gap: 10px;
    margin: auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-auto-flow: row;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 11px 0;
  }
  .header__container .nav__item a {
    padding: 0;
  }
  .header__container .header__icons {
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container .header__logo {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .header__title {
    font-size: 120px;
    line-height: 100px;
  }
  .header__button {
    margin-top: auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    padding-top: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
  }
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container .header__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__container .header__nav {
    gap: 20px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -ms-grid-rows: (auto)[3] !important;
        grid-template-rows: repeat(3, auto) !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    overflow: hidden;
  }
  .header__container .nav__list {
    gap: 10px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__container .header__icons {
    gap: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .header__container .header__logo {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .header__additional-element {
    font-size: 32px;
  }
  .header__title {
    font-size: 54px;
    line-height: 67px;
  }
  .header__button {
    margin-top: auto;
  }
}
/*# sourceMappingURL=style.css.map */