* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

html body main {
  display: -ms-grid;
  display: grid;
  gap: 90px;
}

:root {
  --font-Montserrat: "Montserrat";
  --font-KaushanScript: "Kaushan Script";
  --font-Roboto: "Roboto";
  --color-border: #fce38a;
  --color-white: #fff;
  --color-divider: #f38181;
  --color-description: #999999;
  --color-font: #333;
  --color_image: #95e1d3;
  --color-background: #fce38a;
  --color-gradient-start: rgba(252, 227, 138, 0.7);
  --color-gradient-end: rgba(243, 129, 129, 1);
  --color-icon: #f38181;
  --color-border-footer: #E5E5E5;
  --color-placeholder: #CCCCCC
;
}

.team {
  display: -ms-grid;
  display: grid;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__headline {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  text-align: center;
  gap: 15px;
  color: var(--color-font);
  padding: 0 10px;
  text-transform: uppercase;
}

.team__headline :nth-child(1) {
  text-transform: lowercase;
}

.team__headline :nth-child(1)::first-letter {
  text-transform: uppercase;
}

.team__headline-text {
  font-family: var(--font-KaushanScript);
  font-size: 24px;
}

.team__headline-title {
  position: relative;
  font-family: var(--font-Montserrat);
  font-size: 30px;
  -webkit-padding-after: 35px;
          padding-block-end: 35px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}

.team__headline-title::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  background-color: var(--color-divider);
}

.team__headline-description {
  max-width: 940px;
  text-align: center;
  text-transform: lowercase;
  margin: 0 auto;
}

.team__headline-description::first-letter {
  text-transform: uppercase;
}

.team__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (380px)[3];
      grid-template-columns: repeat(3, 380px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 30px;
}

.team__person-details {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__person {
  list-style: none;
}

.team__person-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (56px)[4];
      grid-template-columns: repeat(4, 56px);
  -ms-grid-rows: 56px;
      grid-template-rows: 56px;
  list-style: none;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.team__person-social a {
  text-decoration: none;
  width: 56px;
  height: 56px;
  color: var(--color-icon);
  background-color: var(--color-background);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 26px;
}

.team__person-social a:hover {
  background-color: var(--color-icon);
}

.team__person-social a:hover i {
  color: var(--color-white);
}

.team__person-image-1 {
  width: 380px;
  height: 470px;
  background-color: var(--color-background);
  background-image: url("../images/person1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: 15%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-1 {
    background-image: url("../images/person1@2x.svg");
  }
}

.team__person-image-1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end)));
  background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
  z-index: 1;
  z-index: 1;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  opacity: 0;
}

.team__person-image-1::before {
  display: block;
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 0%;
  height: 0%;
  background-color: var(--color_image);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.team__person-image-1:hover .team__person-social {
  z-index: 2;
  opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-1:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end))), url("../images/person1@2x.svg");
    background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%), url("../images/person1@2x.svg");
  }
}

.team__person-image-1:hover::after {
  opacity: .9;
}

.team__person-image-1:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -10px;
  bottom: -10px;
}

.team__person-image-2 {
  width: 380px;
  height: 470px;
  background-color: var(--color-background);
  background-image: url("../images/person2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-2 {
    background-image: url("../images/person2@2x.svg");
  }
}

.team__person-image-2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end)));
  background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
  z-index: 1;
  z-index: 1;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  opacity: 0;
}

.team__person-image-2::before {
  display: block;
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 0%;
  height: 0%;
  background-color: var(--color_image);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.team__person-image-2:hover .team__person-social {
  z-index: 2;
  opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-2:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end))), url("../images/person2@2x.svg");
    background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%), url("../images/person2@2x.svg");
  }
}

.team__person-image-2:hover::after {
  opacity: .9;
}

.team__person-image-2:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -10px;
  bottom: -10px;
}

.team__person-image-3 {
  width: 380px;
  height: 470px;
  background-color: var(--color-background);
  background-image: url("../images/person3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-3 {
    background-image: url("../images/person3@2x.svg");
  }
}

.team__person-image-3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end)));
  background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
  z-index: 1;
  z-index: 1;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  opacity: 0;
}

.team__person-image-3::before {
  display: block;
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 0%;
  height: 0%;
  background-color: var(--color_image);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.team__person-image-3:hover .team__person-social {
  z-index: 2;
  opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team__person-image-3:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-gradient-start)), to(var(--color-gradient-end))), url("../images/person3@2x.svg");
    background-image: linear-gradient(360deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%), url("../images/person3@2x.svg");
  }
}

.team__person-image-3:hover::after {
  opacity: .9;
}

.team__person-image-3:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -10px;
  bottom: -10px;
}

.team__person-name {
  font-family: var(--font-Montserrat);
  font-size: 14px;
  line-height: 16px;
  color: var(--color-font);
  text-align: center;
  -webkit-margin-before: 27px;
          margin-block-start: 27px;
  -webkit-margin-after: 7px;
          margin-block-end: 7px;
  text-transform: uppercase;
}

.team__person-position {
  text-align: center;
  font-family: var(--font-Roboto);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-description);
}

@media screen and (max-width: 1024px) {
  .team__headline-description {
    max-width: 600px;
    text-align: center;
  }
  .team__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .team__person-image-1:after {
    bottom: unset;
    right: unset;
  }
  .team__person-image-2:after {
    bottom: unset;
    right: unset;
  }
  .team__person-image-3:after {
    bottom: unset;
    right: unset;
  }
}

@media screen and (max-width: 768px) {
  .team__headline-description {
    max-width: 600px;
    text-align: center;
  }
  .team__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
  }
  .team__person-image-1 {
    background-position: 100%;
    background-position: 30%;
  }
  .team__person-image-1:before {
    display: none;
  }
  .team__person-image-2 {
    background-position: 100%;
    background-position: 70%;
  }
  .team__person-image-2:before {
    display: none;
  }
  .team__person-image-3 {
    background-position: 100%;
  }
  .team__person-image-3:before {
    display: none;
  }
}
/*# sourceMappingURL=team.css.map */