@import "./global";

.team {
    display: grid;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    @include section-headline;

    &__headline-description {
        max-width: 940px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        grid-template-rows: 1fr;
        gap: 30px;
    }

    &__person-details {
        display: grid;
        justify-content: center;
    }

    &__person {
        list-style: none;
    }

    &__person-social {
        display: grid;
        grid-template-columns: repeat(4, 56px);
        grid-template-rows: 56px;
        list-style: none;
        transition: 1s;
        opacity: 0;

        a {
            text-decoration: none;
            width: 56px;
            height: 56px;
            color: var(--color-icon);
            background-color: var(--color-background);
            display: grid;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            font-size: 26px;

            &:hover {
                background-color: var(--color-icon);
            }

            &:hover i {
                color: var(--color-white);
            }
        }
    }

    @for $personIndex from 1 through 3 {
        &__person-image-#{$personIndex} {
            width: 380px;
            height: 470px;
            background-color: var(--color-background);
            background-image: url("../images/person#{$personIndex}.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: all 1s;


            @if $personIndex ==1 {
                background-position: 15%;
            }

            @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: url("../images/person#{$personIndex}@2x.svg");
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(360deg,
                        var(--color-gradient-start) 0%,
                        var(--color-gradient-end) 100%, );
                z-index: 1;
                z-index: 1;
                transition: all 1s;
                opacity: 0;
            }

            &::before {
                display: block;
                content: "";
                position: absolute;
                right: -10px;
                bottom: -10px;
                width: 0%;
                height: 0%;
                background-color: var(--color_image);
                transition: all 1s;
                z-index: -1;
            }

            &:hover .team__person-social {
                z-index: 2;
                opacity: 1;
            }

            &:hover {

                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    background-image: linear-gradient(360deg,
                        var(--color-gradient-start) 0%,
                        var(--color-gradient-end) 100%),
                    url("../images/person#{$personIndex}@2x.svg");
                }

                &::after {
                    opacity: .1;
                }

                &::before {
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    right: -10px;
                    bottom: -10px;
                }
            }
        }
    }

    &__person-name {
        font-family: var(--font-Montserrat);
        font-size: 14px;
        line-height: 16px;
        color: var(--color-font);
        text-align: center;
        margin-block-start: 27px;
        margin-block-end: 7px;
    }

    &__person-position {
        text-align: center;
        font-family: var(--font-Roboto);
        font-size: 15px;
        line-height: 18px;
        color: var(--color-description);
    }
}

@media screen and (max-width: 1024px) {
    .team {
        &__headline-description {
            max-width: 600px;
            text-align: center;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .team {
        &__headline-description {
            max-width: 600px;
            text-align: center;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            overflow: hidden;
        }

        @for $personIndex from 1 through 3 {
            &__person-image-#{$personIndex} {
                background-position: 100%;

                @if $personIndex ==1 {
                    background-position: 30%;
                }

                @if $personIndex ==2 {
                    background-position: 70%;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}